

html, body, #app {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.grow {
    flex-grow: 1;
}

.vs {
    display: flex;
    flex-direction: column;
}

.hs {
    display: flex;
    flex-direction: row;
}